<%= form_with url: movies_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a movie"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="movies">
        <% @movies.each do |movie| %>
          <h4><%= movie.title %></h4>
          <p><%= movie.synopsis %></p>
          <p><% movie.director.first_name %></p>
          <p><% movie.director.last_name %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
